@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One');

body {
  background-color: #85d1ed;
  /* background: url(https://i.imgur.com/c9RIfEm.png); */
  background-image: src('./images/1619885.jpg');
  text-align: center;
  font-family: 'Otomanopee One', sans-serif;
  margin: 0;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  display: flex;
  justify-content: center;
}

h1 {
  margin-top: 5px;
  margin-bottom: 0px;
}

.rules-btn {
  color: darkmagenta;
}

#rules p {
  color: darkmagenta;
}

.hide-rules {
  display: none;
}

.show-rules {
  display: block;
}

.game-wrapper {
  display: flex;
  justify-content: space-around;
}

.player-wrapper {
  display: flex; 
  flex-direction: column;
  background-color: wheat;
  padding: 0px 10px;
  justify-content: space-between;
}

.player-one-wrapper {
  display: flex;
  flex-direction: column;
}

.player-one-wrapper p {
  font-size: 90px;
  margin: 0px auto;
}

.player-two-wrapper {
  display: flex;
  flex-direction: column;
}

.player-two-wrapper p {
  font-size: 90px;
  margin: 0px auto;
}

.winner-history {
  background-color: wheat;
  padding: 0px 10px;
}

.winner-list {
  padding: 0;
  list-style: none;
}

.new-game {
  background-color: plum;
  color: darkmagenta;
  margin: 5px 20px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px grey;
  width: 120px;
  font-size: 20px
}

#game-status {
  font-size: 30px;
  margin: 0px;
}

.main-grid {
  display: grid;
  justify-content: center;
  grid-template-columns: auto auto auto;
  flex-direction: wrap;
  grid-column-gap: 8px;
  grid-row-gap: 4px;
  margin: auto 20px;
}

.mini-grid {
  background-color: wheat;
  align-items: center;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  height: 100%;
  justify-content: center;
  height: 180px;
  width: 180px;
  column-gap: 2px;
}

.mini-grid div {
  height: 57px;
  width: 58px;
  border: 1px solid plum;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}

.footer-wrapper {
  display: flex;
  justify-content: space-evenly;
}

.footer-wrapper p {
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: teal;
}

.open {
  border: none;
}

.active-grid {
  border: 1px solid green;
  background-color: blanchedalmond;
}

.inactive-grid {
  background-color: lightgrey;
  pointer-events: none;
}

.inactive-cell {
  pointer-events: none;
}

.player-one-win {
  background-color: #72cfb9;
}

.player-two-win {
  background-color: #ed85c7;
}

.draw {
  background-color: white;
}

.closed {
  border: 1px solid black;
}

.game-end {
  pointer-events: none;
}