body {
  background-color: palevioletred;
  text-align: center;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.new-game {
  background-color: lightseagreen;
  color: darkmagenta;
}

.player-wrapper {
  display: flex;
  justify-content: center;
}

#game-status {
  font-size: 30px;
  margin-top: 0px;
}

.main-grid {
  display: grid;
  justify-content: center;
  grid-template-columns: auto auto auto;
  flex-direction: wrap;
  grid-column-gap: 8px;
  grid-row-gap: 4px;
}

.mini-grid {
  background-color: wheat;
  align-items: center;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  height: 100%;
  justify-content: center;
  height: 180px;
  width: 180px;
  column-gap: 2px;
}

.mini-grid div {
  height: 57px;
  width: 58px;
  border: 1px solid plum;
}

.player-one-win {
  background-color: red;
}

.player-two-win {
  background-color: yellow;
}

.draw {
  background-color: white;
}